<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
  </head>
  <body>
    <div class="mx-auto max-w-xl">
    <div>progress: {{ state.progress }}</div>
    <div>score: {{ state.score }}</div>
    <div>{{ question }}</div>
    </div>
  </body>
</html>