<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game {{ state.progress }}</title>
  </head>
  <body>
    <div class="mx-auto max-w-xl text-xl">
      {% if incorrectQuestion %}
        <dialog open class="bg-red-500">
          <div>{{ incorrectQuestion.question }}</div>
          <ul>
            {% for answer in incorrectQuestion.answers %}
              {% if incorrectQuestion.corrects[loop.index0] %}
                <li>{{ answer }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <form method="dialog">
            <button class="w-full p-2 bg-black text-white">OK</button>
          </form>
        </dialog>
      {% endif %}

      <div class="flex gap-2 px-6 text-base bg-blue-50">
        <div>Progress: {{ state.progress }}</div>
        <div>
          Score: {{ state.score }}
          {% if state.progress > 0 %}
            ({{ (100 * state.score / state.progress) | round(2) }}%)
          {% endif %}
        </div>
        <div><a href="/incorrect" class="text-blue-500">Check mistakes</a></div>
      </div>
      <div class="p-6">{{ question.question }}</div>
      <form action="" method="post">
        <ul>
          {% set color = cycler("bg-blue-100", "bg-blue-50") %}
          {% for answer in question.answers %}
            <li>
              <label
                for="answer{{ loop.index0 }}"
                class="block p-6 {{ color.next() }}"
                ><input
                  type="checkbox"
                  id="answer{{ loop.index0 }}"
                  name="answer{{ loop.index0 }}"
                  class="mr-6 scale-150"
                />{{ answer }}</label
              >
            </li>
          {% endfor %}
        </ul>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 active:hover:bg-blue-800 w-full p-6 text-white"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
